**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [54]:
import numpy as np
import pandas as pd
import seaborn as sns 


#Loading data
books = pd.read_csv("C:\\Users\\HP\\Downloads\\GL_files\\LAb-V\\Internals_questions\\books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('C:\\Users\\HP\\Downloads\\GL_files\\LAb-V\\Internals_questions\\users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('C:\\Users\\HP\\Downloads\\GL_files\\LAb-V\\Internals_questions\\ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1") # becuase, file format is different 
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

In [55]:
books

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...
10,0771074670,Nights Below Station Street,David Adams Richards,1988,Emblem Editions,http://images.amazon.com/images/P/0771074670.0...,http://images.amazon.com/images/P/0771074670.0...,http://images.amazon.com/images/P/0771074670.0...
11,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000,Citadel Press,http://images.amazon.com/images/P/080652121X.0...,http://images.amazon.com/images/P/080652121X.0...,http://images.amazon.com/images/P/080652121X.0...
12,0887841740,The Middle Stories,Sheila Heti,2004,House of Anansi Press,http://images.amazon.com/images/P/0887841740.0...,http://images.amazon.com/images/P/0887841740.0...,http://images.amazon.com/images/P/0887841740.0...
13,1552041778,Jane Doe,R. J. Kaiser,1999,Mira Books,http://images.amazon.com/images/P/1552041778.0...,http://images.amazon.com/images/P/1552041778.0...,http://images.amazon.com/images/P/1552041778.0...
14,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...
15,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...
16,1575663937,More Cunning Than Man: A Social History of Rat...,Robert Hendrickson,1999,Kensington Publishing Corp.,http://images.amazon.com/images/P/1575663937.0...,http://images.amazon.com/images/P/1575663937.0...,http://images.amazon.com/images/P/1575663937.0...
17,1881320189,Goodbye to the Buttermilk Sky,Julia Oliver,1994,River City Pub,http://images.amazon.com/images/P/1881320189.0...,http://images.amazon.com/images/P/1881320189.0...,http://images.amazon.com/images/P/1881320189.0...
18,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...
20,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...
21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...
22,1879384493,If I'd Known Then What I Know Now: Why Not Lea...,J. R. Parrish,2003,Cypress House,http://images.amazon.com/images/P/1879384493.0...,http://images.amazon.com/images/P/1879384493.0...,http://images.amazon.com/images/P/1879384493.0...
23,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate &amp; Ashley Olsen,2000,HarperEntertainment,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...,http://images.amazon.com/images/P/0061076031.0...
24,0439095026,Tell Me This Isn't Happening,Robynn Clairday,1999,Scholastic,http://images.amazon.com/images/P/0439095026.0...,http://images.amazon.com/images/P/0439095026.0...,http://images.amazon.com/images/P/0439095026.0...
25,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998,Aladdin,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...
28,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...
29,0684823802,OUT OF THE SILENT PLANET,C.S. Lewis,1996,Scribner,http://images.amazon.com/images/P/0684823802.0...,http://images.amazon.com/images/P/0684823802.0...,http://images.amazon.com/images/P/0684823802.0...
...,...,...,...,...,...,...,...,...
271330,3320016822,Urteil ohne Prozess: Margot Honecker gegen Oss...,JÃ¶rn Kalkbrenner,1990,Dietz,http://images.amazon.com/images/P/3320016822.0...,http://images.amazon.com/images/P/3320016822.0...,http://images.amazon.com/images/P/3320016822.0...
271331,3423200944,"Hokuspokus, liebe mich. Und fÃ?Â¼nfzig andere ...",Helen Glisic,1997,Dtv,http://images.amazon.com/images/P/3423200944.0...,http://images.amazon.com/images/P/3423200944.0...,http://images.amazon.com/images/P/3423200944.0...
271332,3453065123,Ich war Hitlerjunge Salomon. ( erlebt und erfa...,Sally Perel,1993,Heyne,http://images.amazon.com/images/P/3453065123.0...,http://images.amazon.com/images/P/3453065123.0...,http://images.amazon.com/images/P/3453065123.0...
271333,3525335423,Das Deutsche Kaiserreich 1871-1918.,Hans-Ulrich Wehler,1994,Vandenhoeck &amp; Ruprecht,http://images.amazon.com/images/P/3525335423.0...,http://images.amazon.com/images/P/3525335423.0...,http://images.amazon.com/images/P/3525335423.0...
271334,3548740146,Wicca. Eine EinfÃ?Â¼hrung in weiÃ?Â?e Magie.,Scott Cunningham,2001,"Ullstein TB-Vlg., B.",http://images.amazon.com/images/P/3548740146.0...,http://images.amazon.com/images/P/3548740146.0...,http://images.amazon.com/images/P/3548740146.0...
271335,381440176X,"Ein Fall fÃ?Â¼r TKKG, Bd.50, Sklaven fÃ?Â¼r Wu...",Stefan Wolf,1989,Pelikan,http://images.amazon.com/images/P/381440176X.0...,http://images.amazon.com/images/P/381440176X.0...,http://images.amazon.com/images/P/381440176X.0...
271336,3893312307,Die Vereinten Nationen: Zwischen Anspruch und ...,GÃ¼nther Unser,1995,Bundeszentrale fÃ¼r Politische Bildung,http://images.amazon.com/images/P/3893312307.0...,http://images.amazon.com/images/P/3893312307.0...,http://images.amazon.com/images/P/3893312307.0...
271337,0971854823,The Female Power Within: A Guide to Living a G...,Marilyn Graman,2002,Life Works Books,http://images.amazon.com/images/P/0971854823.0...,http://images.amazon.com/images/P/0971854823.0...,http://images.amazon.com/images/P/0971854823.0...
271338,0316640786,Christie's Collectables: Blue and White China ...,Paul Tippett,1997,Time Warner Books UK,http://images.amazon.com/images/P/0316640786.0...,http://images.amazon.com/images/P/0316640786.0...,http://images.amazon.com/images/P/0316640786.0...
271339,3257217323,Schmatz. Oder Die Sackgasse.,Hans Werner Kettenbach,2003,Diogenes Verlag,http://images.amazon.com/images/P/3257217323.0...,http://images.amazon.com/images/P/3257217323.0...,http://images.amazon.com/images/P/3257217323.0...
271340,3596156904,Amok.,Emmanuel Carrere,2003,"Fischer (Tb.), Frankfurt",http://images.amazon.com/images/P/3596156904.0...,http://images.amazon.com/images/P/3596156904.0...,http://images.amazon.com/images/P/3596156904.0...
271341,1874166633,Introducing Nietzsche (Foundations in Children...,Laurence Gane,1998,Natl Book Network,http://images.amazon.com/images/P/1874166633.0...,http://images.amazon.com/images/P/1874166633.0...,http://images.amazon.com/images/P/1874166633.0...
271342,0130897930,Core Web Programming (2nd Edition),Marty Hall,2001,Prentice Hall PTR,http://images.amazon.com/images/P/0130897930.0...,http://images.amazon.com/images/P/0130897930.0...,http://images.amazon.com/images/P/0130897930.0...
271343,020130998X,The Unified Modeling Language Reference Manual...,James Rumbaugh,1998,Addison-Wesley Professional,http://images.amazon.com/images/P/020130998X.0...,http://images.amazon.com/images/P/020130998X.0...,http://images.amazon.com/images/P/020130998X.0...
271344,2268032019,Petite histoire de la dÃ?Â©sinformation,Vladimir Volkoff,1999,Editions du Rocher,http://images.amazon.com/images/P/2268032019.0...,http://images.amazon.com/images/P/2268032019.0...,http://images.amazon.com/images/P/2268032019.0...
271345,0684860112,Driving to Detroit: Memoirs of a Fast Woman,Lesley Hazleton,1999,Simon &amp; Schuster (Trade Division),http://images.amazon.com/images/P/0684860112.0...,http://images.amazon.com/images/P/0684860112.0...,http://images.amazon.com/images/P/0684860112.0...
271346,0395264707,Dreamsnake,Vonda N. McIntyre,1978,Houghton Mifflin,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...
271347,3442150663,Der Mossad.,Victor Ostrovsky,2000,Goldmann,http://images.amazon.com/images/P/3442150663.0...,http://images.amazon.com/images/P/3442150663.0...,http://images.amazon.com/images/P/3442150663.0...
271348,0231128444,Slow Food(The Case For Taste),Carlo Petrini,2003,Columbia University Press,http://images.amazon.com/images/P/0231128444.0...,http://images.amazon.com/images/P/0231128444.0...,http://images.amazon.com/images/P/0231128444.0...
271349,0520242335,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,2004,University of California Press,http://images.amazon.com/images/P/0520242335.0...,http://images.amazon.com/images/P/0520242335.0...,http://images.amazon.com/images/P/0520242335.0...
271350,0762412119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,2002,Running Press Book Publishers,http://images.amazon.com/images/P/0762412119.0...,http://images.amazon.com/images/P/0762412119.0...,http://images.amazon.com/images/P/0762412119.0...
271351,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",2001,Golden Guides from St. Martin's Press,http://images.amazon.com/images/P/1582380805.0...,http://images.amazon.com/images/P/1582380805.0...,http://images.amazon.com/images/P/1582380805.0...
271352,1845170423,Cocktail Classics,David Biggs,2004,Connaught,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...
271353,014002803X,Anti Death League,Kingsley Amis,1975,Viking Press,http://images.amazon.com/images/P/014002803X.0...,http://images.amazon.com/images/P/014002803X.0...,http://images.amazon.com/images/P/014002803X.0...
271354,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [56]:
users

        userID                                          Location   Age
0            1                                nyc, new york, usa   NaN
1            2                         stockton, california, usa  18.0
2            3                   moscow, yukon territory, russia   NaN
3            4                         porto, v.n.gaia, portugal  17.0
4            5                farnborough, hants, united kingdom   NaN
5            6                     santa monica, california, usa  61.0
6            7                               washington, dc, usa   NaN
7            8                          timmins, ontario, canada   NaN
8            9                        germantown, tennessee, usa   NaN
9           10                        albacete, wisconsin, spain  26.0
10          11                    melbourne, victoria, australia  14.0
11          12                       fort bragg, california, usa   NaN
12          13                       barcelona, barcelona, spain  26.0
13          14                             mediapolis, iowa, usa   NaN
14          15                          calgary, alberta, canada   NaN
15          16                      albuquerque, new mexico, usa   NaN
16          17                         chesapeake, virginia, usa   NaN
17          18            rio de janeiro, rio de janeiro, brazil  25.0
18          19                                         weston, ,  14.0
19          20                      langhorne, pennsylvania, usa  19.0
20          21                    ferrol / spain, alabama, spain  46.0
21          22                       erfurt, thueringen, germany   NaN
22          23                   philadelphia, pennsylvania, usa   NaN
23          24                             cologne, nrw, germany  19.0
24          25                          oakland, california, usa  55.0
25          26                         bellevue, washington, usa   NaN
26          27                            chicago, illinois, usa  32.0
27          28             freiburg, baden-wuerttemberg, germany  24.0
28          29                       cuernavaca, alabama, mexico  19.0
29          30                            anchorage, alaska, usa  24.0
...        ...                                               ...   ...
278828  278829                                 boise, idaho, usa   NaN
278829  278830                         springield, virginia, usa  28.0
278830  278831                            anchorage, alaska, usa   NaN
278831  278832                    new smyrna beach, florida, usa  62.0
278832  278833      hanoi, australian capital territory, vietnam  25.0
278833  278834                           essen, england, germany   NaN
278834  278835                          karachi, sindh, pakistan  18.0
278835  278836                       des moines, washington, usa  47.0
278836  278837                            taiyuan, shanxi, china   NaN
278837  278838                              massillon, ohio, usa  15.0
278838  278839                                austin, texas, usa   NaN
278839  278840                        encinitas, california, usa  45.0
278840  278841  llangollen, denbighshire county, united kingdom.   NaN
278841  278842               perth, western australia, australia   NaN
278842  278843                      pismo beach, california, usa  28.0
278843  278844                          st. paul, minnesota, usa  28.0
278844  278845                       järvenpää, uusimaa, finland   NaN
278845  278846                          toronto, ontario, canada  23.0
278846  278847                           brooklyn, new york, usa   NaN
278847  278848                köln, nordrhein-westfalen, germany   NaN
278848  278849                       georgetown, ontario, canada  23.0
278849  278850                        sergnano, lombardia, italy   NaN
278850  278851                                dallas, texas, usa  33.0
278851  278852                   brisbane, queensland, australia  32.0
278852  278853                    stranraer, n/a, united kingdom  17.0
278853  278854                             portland, oregon, usa   NaN
278854  278855                tacoma, washington, united kingdom  50.0
278855  278856                         brampton, ontario, canada   NaN
278856  278857                         knoxville, tennessee, usa   NaN
278857  278858                              dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [57]:
ratings

         userID         ISBN  bookRating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
5        276733   2080674722           0
6        276736   3257224281           8
7        276737   0600570967           6
8        276744   038550120X           7
9        276745    342310538          10
10       276746   0425115801           0
11       276746   0449006522           0
12       276746   0553561618           0
13       276746   055356451X           0
14       276746   0786013990           0
15       276746   0786014512           0
16       276747   0060517794           9
17       276747   0451192001           0
18       276747   0609801279           0
19       276747   0671537458           9
20       276747   0679776818           8
21       276747   0943066433           7
22       276747   1570231028           0
23       276747   1885408226           7
24       276748   0747558167           6
25       276748   3442437407           0
26       276751   033390804X           0
27       276751   3596218098           8
28       276754   0684867621           8
29       276755   0451166892           5
...         ...          ...         ...
1149750  276690   0312970188           0
1149751  276690   0440439884           0
1149752  276690   0590453653           0
1149753  276690   0590453688           0
1149754  276690   0590455419           0
1149755  276690   0590464116           0
1149756  276690   0590581066           0
1149757  276690   0590907301           0
1149758  276697   8445072897           0
1149759  276704   0152022597           0
1149760  276704   0312873115           0
1149761  276704   0345386108           6
1149762  276704   0380796155           5
1149763  276704   0395404258           0
1149764  276704   0425060772           0
1149765  276704   0440206529           0
1149766  276704   0441007813           0
1149767  276704   0446353957           0
1149768  276704   0446605409           0
1149769  276704   059032120X           0
1149770  276704   0679752714           0
1149771  276704   0743211383           7
1149772  276704   080410526X           0
1149773  276704   0806917695           5
1149774  276704   0876044011           0
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

In [58]:
books.columns

Index(['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher',
       'imageUrlS', 'imageUrlM', 'imageUrlL'],
      dtype='object')

In [59]:
users.columns

Index(['userID', 'Location', 'Age'], dtype='object')

In [60]:
ratings.columns

Index(['userID', 'ISBN', 'bookRating'], dtype='object')

### Check no.of records and features given in each dataset

In [61]:
books.shape

(271360, 8)

In [62]:
users.shape

(278858, 3)

In [63]:
ratings.shape

(1149780, 3)

## Exploring books dataset

In [64]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [65]:
books1= books.drop(['imageUrlS','imageUrlM','imageUrlL'],axis=1)
books1
# Removindg the image columns on the books dataframe

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner
10,0771074670,Nights Below Station Street,David Adams Richards,1988,Emblem Editions
11,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000,Citadel Press
12,0887841740,The Middle Stories,Sheila Heti,2004,House of Anansi Press
13,1552041778,Jane Doe,R. J. Kaiser,1999,Mira Books
14,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications
15,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade
16,1575663937,More Cunning Than Man: A Social History of Rat...,Robert Hendrickson,1999,Kensington Publishing Corp.
17,1881320189,Goodbye to the Buttermilk Sky,Julia Oliver,1994,River City Pub
18,0440234743,The Testament,John Grisham,1999,Dell
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume
20,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press
21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd
22,1879384493,If I'd Known Then What I Know Now: Why Not Lea...,J. R. Parrish,2003,Cypress House
23,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate &amp; Ashley Olsen,2000,HarperEntertainment
24,0439095026,Tell Me This Isn't Happening,Robynn Clairday,1999,Scholastic
25,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998,Aladdin
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books
28,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books
29,0684823802,OUT OF THE SILENT PLANET,C.S. Lewis,1996,Scribner
...,...,...,...,...,...
271330,3320016822,Urteil ohne Prozess: Margot Honecker gegen Oss...,JÃ¶rn Kalkbrenner,1990,Dietz
271331,3423200944,"Hokuspokus, liebe mich. Und fÃ?Â¼nfzig andere ...",Helen Glisic,1997,Dtv
271332,3453065123,Ich war Hitlerjunge Salomon. ( erlebt und erfa...,Sally Perel,1993,Heyne
271333,3525335423,Das Deutsche Kaiserreich 1871-1918.,Hans-Ulrich Wehler,1994,Vandenhoeck &amp; Ruprecht
271334,3548740146,Wicca. Eine EinfÃ?Â¼hrung in weiÃ?Â?e Magie.,Scott Cunningham,2001,"Ullstein TB-Vlg., B."
271335,381440176X,"Ein Fall fÃ?Â¼r TKKG, Bd.50, Sklaven fÃ?Â¼r Wu...",Stefan Wolf,1989,Pelikan
271336,3893312307,Die Vereinten Nationen: Zwischen Anspruch und ...,GÃ¼nther Unser,1995,Bundeszentrale fÃ¼r Politische Bildung
271337,0971854823,The Female Power Within: A Guide to Living a G...,Marilyn Graman,2002,Life Works Books
271338,0316640786,Christie's Collectables: Blue and White China ...,Paul Tippett,1997,Time Warner Books UK
271339,3257217323,Schmatz. Oder Die Sackgasse.,Hans Werner Kettenbach,2003,Diogenes Verlag
271340,3596156904,Amok.,Emmanuel Carrere,2003,"Fischer (Tb.), Frankfurt"
271341,1874166633,Introducing Nietzsche (Foundations in Children...,Laurence Gane,1998,Natl Book Network
271342,0130897930,Core Web Programming (2nd Edition),Marty Hall,2001,Prentice Hall PTR
271343,020130998X,The Unified Modeling Language Reference Manual...,James Rumbaugh,1998,Addison-Wesley Professional
271344,2268032019,Petite histoire de la dÃ?Â©sinformation,Vladimir Volkoff,1999,Editions du Rocher
271345,0684860112,Driving to Detroit: Memoirs of a Fast Woman,Lesley Hazleton,1999,Simon &amp; Schuster (Trade Division)
271346,0395264707,Dreamsnake,Vonda N. McIntyre,1978,Houghton Mifflin
271347,3442150663,Der Mossad.,Victor Ostrovsky,2000,Goldmann
271348,0231128444,Slow Food(The Case For Taste),Carlo Petrini,2003,Columbia University Press
271349,0520242335,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,2004,University of California Press
271350,0762412119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,2002,Running Press Book Publishers
271351,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",2001,Golden Guides from St. Martin's Press
271352,1845170423,Cocktail Classics,David Biggs,2004,Connaught
271353,014002803X,Anti Death League,Kingsley Amis,1975,Viking Press
271354,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [66]:
books1.shape

(271360, 5)

In [67]:
books1.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [68]:
books1['yearOfPublication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

In [69]:
books1['yearOfPublication'].unique().shape # 202  unique values are found on the YearOfPublication of the books dataframe

(202,)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [70]:
# books1['yearOfPublication']=='DK Publishing Inc'.count
books1[books1['yearOfPublication']=='DK Publishing Inc'].count() # For checking the number of rows of the same title 'DK Publishing Inc'

ISBN                 2
bookTitle            2
bookAuthor           2
yearOfPublication    2
publisher            2
dtype: int64

In [71]:
books1[books1['yearOfPublication']=='DK Publishing Inc'] # Displaying those title

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [72]:
books2=books1[(books1.yearOfPublication!= 'DK Publishing Inc') &(books1.yearOfPublication!= 'Gallimard')]

In [73]:
#books1[(books1.yearOfPublication!= 'DK Publishing Inc') &(books1.yearOfPublication!= 'Gallimard')]
books2

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner
10,0771074670,Nights Below Station Street,David Adams Richards,1988,Emblem Editions
11,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000,Citadel Press
12,0887841740,The Middle Stories,Sheila Heti,2004,House of Anansi Press
13,1552041778,Jane Doe,R. J. Kaiser,1999,Mira Books
14,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications
15,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade
16,1575663937,More Cunning Than Man: A Social History of Rat...,Robert Hendrickson,1999,Kensington Publishing Corp.
17,1881320189,Goodbye to the Buttermilk Sky,Julia Oliver,1994,River City Pub
18,0440234743,The Testament,John Grisham,1999,Dell
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume
20,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press
21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd
22,1879384493,If I'd Known Then What I Know Now: Why Not Lea...,J. R. Parrish,2003,Cypress House
23,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate &amp; Ashley Olsen,2000,HarperEntertainment
24,0439095026,Tell Me This Isn't Happening,Robynn Clairday,1999,Scholastic
25,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998,Aladdin
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books
28,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books
29,0684823802,OUT OF THE SILENT PLANET,C.S. Lewis,1996,Scribner
...,...,...,...,...,...
271330,3320016822,Urteil ohne Prozess: Margot Honecker gegen Oss...,JÃ¶rn Kalkbrenner,1990,Dietz
271331,3423200944,"Hokuspokus, liebe mich. Und fÃ?Â¼nfzig andere ...",Helen Glisic,1997,Dtv
271332,3453065123,Ich war Hitlerjunge Salomon. ( erlebt und erfa...,Sally Perel,1993,Heyne
271333,3525335423,Das Deutsche Kaiserreich 1871-1918.,Hans-Ulrich Wehler,1994,Vandenhoeck &amp; Ruprecht
271334,3548740146,Wicca. Eine EinfÃ?Â¼hrung in weiÃ?Â?e Magie.,Scott Cunningham,2001,"Ullstein TB-Vlg., B."
271335,381440176X,"Ein Fall fÃ?Â¼r TKKG, Bd.50, Sklaven fÃ?Â¼r Wu...",Stefan Wolf,1989,Pelikan
271336,3893312307,Die Vereinten Nationen: Zwischen Anspruch und ...,GÃ¼nther Unser,1995,Bundeszentrale fÃ¼r Politische Bildung
271337,0971854823,The Female Power Within: A Guide to Living a G...,Marilyn Graman,2002,Life Works Books
271338,0316640786,Christie's Collectables: Blue and White China ...,Paul Tippett,1997,Time Warner Books UK
271339,3257217323,Schmatz. Oder Die Sackgasse.,Hans Werner Kettenbach,2003,Diogenes Verlag
271340,3596156904,Amok.,Emmanuel Carrere,2003,"Fischer (Tb.), Frankfurt"
271341,1874166633,Introducing Nietzsche (Foundations in Children...,Laurence Gane,1998,Natl Book Network
271342,0130897930,Core Web Programming (2nd Edition),Marty Hall,2001,Prentice Hall PTR
271343,020130998X,The Unified Modeling Language Reference Manual...,James Rumbaugh,1998,Addison-Wesley Professional
271344,2268032019,Petite histoire de la dÃ?Â©sinformation,Vladimir Volkoff,1999,Editions du Rocher
271345,0684860112,Driving to Detroit: Memoirs of a Fast Woman,Lesley Hazleton,1999,Simon &amp; Schuster (Trade Division)
271346,0395264707,Dreamsnake,Vonda N. McIntyre,1978,Houghton Mifflin
271347,3442150663,Der Mossad.,Victor Ostrovsky,2000,Goldmann
271348,0231128444,Slow Food(The Case For Taste),Carlo Petrini,2003,Columbia University Press
271349,0520242335,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,2004,University of California Press
271350,0762412119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,2002,Running Press Book Publishers
271351,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",2001,Golden Guides from St. Martin's Press
271352,1845170423,Cocktail Classics,David Biggs,2004,Connaught
271353,014002803X,Anti Death League,Kingsley Amis,1975,Viking Press
271354,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [74]:
#boooks1.drop((books1.yearOfPublication!= 'DK Publishing Inc')&(books1.yearOfPublication!= 'Gallimard')])
type(books2)

pandas.core.frame.DataFrame

### Change the datatype of yearOfPublication to 'int'

In [75]:
books2.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication    object
publisher            object
dtype: object

In [76]:
#books2['yearOfPublication'].astype('int32')
#books1[books1.yearOfPublication].astype(int)
# books2.yearOfPublication.astype('int32')

In [77]:
# type(books2)
books2.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication    object
publisher            object
dtype: object

In [78]:
books2['yearOfPublication'] = pd.to_numeric(books2['yearOfPublication'],errors='coerce')

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [79]:
books2.dtypes  # Object conversion to int

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int64
publisher            object
dtype: object

In [80]:
type(books2)

pandas.core.frame.DataFrame

### Drop NaNs in `'publisher'` column

In [81]:
books2['publisher'].isnull().sum()  # to count NAN values on the publisher column of the books datafrme

2

In [82]:
# books2['publisher'] = books2['publisher'].dropna()
books2['publisher'].dropna(inplace=True)

In [83]:
books2['publisher'].shape

(271355,)

In [84]:
books2['publisher'].isnull().sum()

0

## Exploring Users dataset

In [85]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [86]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [87]:
users.Age.unique()

array([ nan,  18.,  17.,  61.,  26.,  14.,  25.,  19.,  46.,  55.,  32.,
        24.,  20.,  34.,  23.,  51.,  31.,  21.,  44.,  30.,  57.,  43.,
        37.,  41.,  54.,  42.,  50.,  39.,  53.,  47.,  36.,  28.,  35.,
        13.,  58.,  49.,  38.,  45.,  62.,  63.,  27.,  33.,  29.,  66.,
        40.,  15.,  60.,   0.,  79.,  22.,  16.,  65.,  59.,  48.,  72.,
        56.,  67.,   1.,  80.,  52.,  69.,  71.,  73.,  78.,   9.,  64.,
       103., 104.,  12.,  74.,  75., 231.,   3.,  76.,  83.,  68., 119.,
        11.,  77.,   2.,  70.,  93.,   8.,   7.,   4.,  81., 114., 230.,
       239.,  10.,   5., 148., 151.,   6., 101., 201.,  96.,  84.,  82.,
        90., 123., 244., 133.,  91., 128.,  94.,  85., 141., 110.,  97.,
       219.,  86., 124.,  92., 175., 172., 209., 212., 237.,  87., 162.,
       100., 156., 136.,  95.,  89., 106.,  99., 108., 210.,  88., 199.,
       147., 168., 132., 159., 186., 152., 102., 116., 200., 115., 226.,
       137., 207., 229., 138., 109., 105., 228., 183., 204.,  98., 223.,
       113., 208., 107., 157., 111., 146., 118., 220., 143., 140., 189.,
       127.])

In [88]:
users.Age.unique().shape

(166,)

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [89]:
user1= users[users.Age < 5]

In [90]:
user2= users[users.Age > 90]

In [91]:
user3 = pd.concat([user1,user2])

In [92]:
user3

        userID                                        Location    Age
219        220                        bogota, bogota, colombia    0.0
469        470                      indianapolis, indiana, usa    0.0
561        562   adfdaf, australian capital territory, albania    0.0
612        613                             ankara, n/a, turkey    1.0
670        671                    jeddah, jeddah, saudi arabia    1.0
931        932                  san francisco, california, usa    1.0
1148      1149                           orlando, florida, usa    1.0
1460      1461                          kolding, none, denmark    0.0
1564      1565                  somerville, massachusetts, usa    1.0
1685      1686            subang jaya, selangor d.e., malaysia    1.0
1849      1850                          sydney, nsw, australia    3.0
1909      1910                            vigo, galicia, spain    0.0
1954      1955                            tyler, tasmania, usa    3.0
2151      2152                    grosse pointe, michigan, usa    1.0
2805      2806                                       lisboa, ,    1.0
3610      3611                     santa rosa, california, usa    0.0
3676      3677                 darlington, south carolina, usa    2.0
4041      4042                          san marcos, texas, usa    0.0
4344      4345      casalecchio di reno, emilia romagna, italy    1.0
5501      5502                       bloomington, indiana, usa    0.0
5569      5570                         jhang, punjab, pakistan    0.0
5776      5777     the san francisco bay area, california, usa    2.0
5935      5936                             ankara, n/a, turkey    1.0
6361      6362  puracic - lukavac, n/a, bosnia and herzegovina    0.0
6535      6536                           lisboa, n/a, portugal    1.0
6625      6626             udine, friuli venezia giulia, italy    0.0
6875      6876                        reedley, california, usa    2.0
7111      7112                   bakum, niedersachsen, germany    0.0
7213      7214                  dover, england, united kingdom    1.0
7736      7737                     barcelona, catalunya, spain    0.0
...        ...                                             ...    ...
262362  262363                      nuernberg, bayern, germany  104.0
263066  263067           villa gesell, buenos aires, argentina  113.0
263194  263195                      saint louis, missouri, usa  104.0
263433  263434                       hamburg, hamburg, germany  104.0
263441  263442        koenigsfeld, baden-wuerttemberg, germany  104.0
264329  264330                       manlleu, barcelona, spain   92.0
264933  264934                           madrid, madrid, spain  140.0
264965  264966             pirmasens, rheinland-pfalz, germany  104.0
265259  265260                        ljubljana, n/a, slovenia   97.0
265843  265844                              madrid, n/a, spain  104.0
266534  266535                          lizvill, arkansas, usa  116.0
267049  267050                    bad homburg, hessen, germany  104.0
267829  267830                          fort worth, texas, usa  101.0
268214  268215                          westerville, ohio, usa  104.0
269235  269236                napier, hawke`s bay, new zealand  103.0
270764  270765                     st petersburg, florida, usa  103.0
271087  271088                 london, england, united kingdom   92.0
271276  271277                         wte, state, netherlands  103.0
271843  271844                                 elfin forest, ,   93.0
272595  272596                     barcelona, barcelona, spain  100.0
275470  275471                  varsovie, alabama, afghanistan  102.0
275565  275566                           roma, arkansas, italy   91.0
275582  275583               koblenz, rheinland-pfalz, germany  189.0
275739  275740                         new york, new york, usa  104.0
276047  276048                             wien, wien, austria  127.0
276352  276353                        hillsdale, new york, usa  104.0
277107  277108                     quinto, ticino, switzerland  104.0
277503  277504                      san diego, california, usa  103.0
277558  277559                      lake george, new york, usa   98.0
278301  278302        düsseldorf, nordrhein-westfalen, germany  104.0

[1312 rows x 3 columns]

In [93]:
#users.mean()

In [94]:
users['Age'].mean()

34.75143370454978

In [95]:
#users[users[users.Age < 5] and users[users.Age > 90] ]
users.loc[(users.Age < 5) | (users.Age > 90)] = np.nan

In [96]:
user3.shape

(1312, 3)

In [97]:
users[users.Age < 5]

Empty DataFrame
Columns: [userID, Location, Age]
Index: []

In [98]:
users[users.Age > 90]

Empty DataFrame
Columns: [userID, Location, Age]
Index: []

In [113]:
mean1=users['Age'].mean()

### Replace null values in column `Age` with mean

In [115]:
users['Age']=users['Age'].fillna(mean1)

In [117]:
users['Age']

0         34.72384
1         18.00000
2         34.72384
3         17.00000
4         34.72384
5         61.00000
6         34.72384
7         34.72384
8         34.72384
9         26.00000
10        14.00000
11        34.72384
12        26.00000
13        34.72384
14        34.72384
15        34.72384
16        34.72384
17        25.00000
18        14.00000
19        19.00000
20        46.00000
21        34.72384
22        34.72384
23        19.00000
24        55.00000
25        34.72384
26        32.00000
27        24.00000
28        19.00000
29        24.00000
            ...
278828    34.72384
278829    28.00000
278830    34.72384
278831    62.00000
278832    25.00000
278833    34.72384
278834    18.00000
278835    47.00000
278836    34.72384
278837    15.00000
278838    34.72384
278839    45.00000
278840    34.72384
278841    34.72384
278842    28.00000
278843    28.00000
278844    34.72384
278845    23.00000
278846    34.72384
278847    34.72384
278848    23.00000
278849    34.72384
278850    33.00000
278851    32.00000
278852    17.00000
278853    34.72384
278854    50.00000
278855    34.72384
278856    34.72384
278857    34.72384
Name: Age, Length: 278858, dtype: float64

In [116]:
users.shape

(278858, 3)

### Change the datatype of `Age` to `int`

In [101]:
user3 = pd.concat([user1,user2])

In [102]:
print(sorted(users.Age.unique()))

[nan, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0]

## Exploring the Ratings Dataset

### check the shape

In [103]:
ratings.shape

(1149780, 3)

In [104]:
n_users = users.shape[0]
n_books = books.shape[0]

In [105]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [110]:
ratings_books_related = ratings[ratings['ISBN'].isin (books['ISBN'])]

In [ ]:
ratings_books_related

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [112]:
ratings_user_related = ratings[ratings['userID'].isin (users['userID'])]

In [ ]:
ratings_user_related

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [123]:
ratings1 = ratings[ratings['bookRating'] > 0]
ratings1['bookRating']

1           5
3           3
4           6
6           8
7           6
8           7
9          10
16          9
19          9
20          8
21          7
23          7
24          6
27          8
28          8
29          5
30         10
33          5
44          8
49          3
55          4
57          4
59          7
61         10
62         10
66          9
69          7
70          7
71          6
77          8
           ..
1149690     2
1149697     7
1149703     8
1149704     9
1149705     8
1149709    10
1149711     6
1149713     7
1149714     7
1149715     6
1149717     2
1149719     6
1149728    10
1149729    10
1149738     8
1149739    10
1149741     7
1149743    10
1149744    10
1149745    10
1149746     6
1149747     7
1149761     6
1149762     5
1149771     7
1149773     5
1149775     9
1149777    10
1149778    10
1149779     8
Name: bookRating, Length: 433671, dtype: int64

### Find out which rating has been given highest number of times

In [130]:
ratings1['bookRating'].value_counts()

# 8 had occured the higher number of times

8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: bookRating, dtype: int64

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [138]:
ratings2 = ratings1['userID'].value_counts()
#books2[books2['ISBN'].isin (ratings2)]
ratings2.head()

11676     8524
98391     5802
153662    1969
189835    1906
23902     1395
Name: userID, dtype: int64

In [144]:

ratings2df = ratings2.to_frame()
ratings2df.head()

        userID
11676     8524
98391     5802
153662    1969
189835    1906
23902     1395

In [146]:
ratingsusergt100 = ratings2df[ratings2df['userID'] > 100]

In [153]:
useridsgt100 = ratingsusergt100.index

In [156]:
useridsgt100

Int64Index([ 11676,  98391, 153662, 189835,  23902,  76499, 171118, 235105,
             16795, 248718,
            ...
             53174, 235935, 146113,  26544, 210035, 225986,  36609, 211919,
            120093, 169682],
           dtype='int64', length=488)

In [158]:
useridsgt100.shape[0]

488

## Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

### Generate the predicted ratings using SVD with no.of singular values to be 50

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [ ]:
userID = 2110

In [ ]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [ ]:
user_data.head()

In [ ]:
user_data.shape

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [ ]:
book_data.shape

In [ ]:
book_data.head()

In [ ]:
user_full_info.head()

### Get top 10 recommendations for above given userID from the books not already rated by that user