In [215]:
import numpy as np
import pandas as pd

# 1st Question

In [228]:
a1=pd.read_csv("D:\\GL\\statistics_learning_test\\test_files\\Laliga.csv",header=1)
print(a1)

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     1          Real Madrid       86   4385        2762     1647        552
1     2            Barcelona       86   4262        2762     1581        573
2     3      Atletico Madrid       80   3442        2614     1241        598
3     4             Valencia       82   3386        2664     1187        616
4     5      Athletic Bilbao       86   3368        2762     1209        633
5     6              Sevilla       73   2819        2408      990        531
6     7             Espanyol       82   2792        2626      948        608
7     8        Real Sociedad       70   2573        2302      864        577
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
13   14     Racing Santander       44   1416        1428      453        336
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
20   21           Villarreal       17    970         646      266        172
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
24   25               Getafe       12    553         456      147        112
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
..  ...                  ...      ...    ...         ...      ...        ...
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
33   34             Logrones        9    293         346       96         92
34   35            Castellon       11    285         334      103         79
35   36             Albacete        7    277         270       76         76
36   37              Almeria        6    242         228       62         56
37   38              Cordoba        9    230         282       82         63
38   39           Compostela        4    190         160       52         45
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
42   43             Numancia        4    148         152       37         37
43   44                Eibar        3    132         114       35         27
44   45               Arenas        7    107         130       43         21
45   46          Real Burgos        3     96         114       26         44
46   47            Gimnastic        4     91         116       34         16
47   48          Extremadura        2     83          80       20         23
48   49               Merida        2     81          80       19         24
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
51   52           Real Union        4     56          72       21         14
52   53           AD Almeria        2     52          68       17         18
53   54               Europa        3     42          54       18          6
54   55               Lleida        2     40          68       13         14
55   56              Leganes        1     35          38        8         11
56   57                Xerez        1     34          38        8         10
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4
60   61               Girona        1      -           -        -          -

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
0        563     5947         3140       33        23     8      8     3
1        608     5900         3114       25        25    12     12     4
2        775     4534         3309       10         8    16      9     7
3        861     4398         3469        6         6    10     11    10
4        920     4631         3700        8         7    10      5     8
5        887     3680         3373        1         4     4      5    12
6       1070     3609         3889        -         -     4      5     2
7        861     3228         3230        2         3     2      5     4
8        766     2683         2847        -         1     4      5     4
9        682     2159         2492        1         -     2      3     4
10       575     2052         2188        1         5     4      1     -
11       723     2278         2624        -         -     -      2     4
12       619     1767         2180        -         -     -      1     1
13       639     1843         2368        -         1     1      2     -
14       629     1753         2152        -         1     1      2     2
15       565     1500         1834        -         -     -      2     2
16       535     1421         1763        -         -     -      1     -
17       492     1642         1951        -         -     3      2     2
18       399     1182         1371        -         -     2      -     2
19       487     1347         1746        -         1     1      1     1
20       208      892          789        -         1     1      2     3
21       349      819         1157        -         -     -      -     -
22       305      760         1088        -         -     -      -     -
23       295      750         1022        -         -     -      -     1
24       197      520          633        -         -     -      -     -
25       295      716         1050        -         -     -      -     1
26       211      619          744        -         -     -      -     2
27       298      607          992        -         -     -      -     -
28       174      458          623        -         -     -      -     -
29       194      430          632        -         -     -      -     -
..       ...      ...          ...      ...       ...   ...    ...   ...
31       202      492          720        -         -     -      1     1
32       217      393          662        -         -     -      -     -
33       158      291          489        -         -     -      -     -
34       152      419          588        -         -     -      1     2
35       118      320          410        -         -     -      -     -
36       110      244          366        -         -     -      -     -
37       137      285          430        -         -     -      -     1
38        63      199          241        -         -     -      -     -
39        90      202          296        -         -     -      -     -
40        95      216          310        -         -     -      -     -
41        83      165          221        -         -     -      -     -
42        78      155          253        -         -     -      -     -
43        52      139          167        -         -     -      -     -
44        66      227          308        -         -     1      -     3
45        44      101          139        -         -     -      -     -
46        66      181          295        -         -     -      -     -
47        37       62          117        -         -     -      -     -
48        37       70          115        -         -     -      -     -
49        62      145          252        -         -     -      -     -
50        48      121          183        -         -     -      -     -
51        37      153          184        -         -     -      -     -
52        33       71          116        -         -     -      -     -
53        30       97          131        -         -     -      -     -
54        41       70          182        -         -     -      -     -
55        19       36           55        -         -     -      -     -
56        20       38           66        -         -     -      -     -
57        15       37           57        -         -     -      -     -
58        18       51           85        -         -     -      -     -
59        21       34           65        -         -     -      -     -
60         -        -            -        -         -     -      -     -

   Sixth   T    Debut Since/LastApp  BestPosition
0      4  79     1929          1929             1
1      6  83     1929          1929             1
2      6  56     1929       2002-03             1
3      7  50  1931-32       1987-88             1
4     10  49     1929          1929             1
5      6  32  1934-35       2001-02             1
6      5  16     1929       1994-95             3
7      3  19     1929       2010-11             1
8      4  18  1939-40       2012-13             2
9      4  14  1932-33       2015-16             1
10     1  12  1941-42       2014-15             1
11     5  11  1939-40       2012-13             4
12     1   3  1948-49       2013-14             4
13     1   5     1929       2011-12             2
14     1   7  1944-45       2015-16             2
15     2   6  1935-36       2016-17             4
16     1   2  1949-50       2008-09             4
17     4  11  1933-34       2000-01             3
18     1   5  1960-61       2012-13             3
19     1   5  1951-52       2015-16             2
20     2   9  1998-99       2013-14             2
21     2   2  1941-42       2016-17             6
22     -   -  1977-78       2015-16             8
23     1   2  1959-60       2014-15             5
24     1   1  2004-05       2015-16             6
25     4   5  1935-36       2010-11             5
26     -   2  1961-62       2009-10             5
27     -   -  1940-41       2007-08            11
28     1   1  1930-31       2016-17             6
29     1   1  1963-64       2015-16             6
..   ...  ..      ...           ...           ...
31     -   2  1943-44       1987-88             4
32     -   -  1977-78       2005-06            12
33     -   -  1987-88       1996-97             7
34     -   3  1941-42       1990-91             4
35     -   -  1991-92       2004-05             7
36     -   -  2007-08       2014-15             8
37     -   1  1962-63       2014-15             5
38     -   -  1994-95       1997-98            10
39     -   -  1978-79       2008-09             8
40     -   -  1971-72       1979-80            12
41     -   -  1963-64       1969-70             7
42     -   -  1999-00       2008-09            17
43     -   -  2014-15       2014-15            10
44     -   4     1929       1934-35             3
45     -   -  1990-91       1992-93             9
46     -   -  1947-48       2006-07             7
47     -   -  1996-97       1998-99            17
48     -   -  1995-96       1997-98            19
49     -   -  1945-46       1950-51            10
50     -   -  1953-54       1957-58            14
51     1   1     1929       1931-32             6
52     -   -  1979-80       1980-81            10
53     -   -     1929       1930-31             8
54     -   -  1950-51       1993-94            16
55     -   -  2016-17       2016-17            17
56     -   -  2009-10       2009-10            20
57     -   -  1956-57       1956-57            16
58     -   -  1951-52       1951-52            16
59     -   -  1955-56       1955-56            15
60     -   -  2017-18       2017-18             9

[61 rows x 20 columns]

In [232]:
replacement=a1.replace('-',0)
print(replacement)

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     1          Real Madrid       86   4385        2762     1647        552
1     2            Barcelona       86   4262        2762     1581        573
2     3      Atletico Madrid       80   3442        2614     1241        598
3     4             Valencia       82   3386        2664     1187        616
4     5      Athletic Bilbao       86   3368        2762     1209        633
5     6              Sevilla       73   2819        2408      990        531
6     7             Espanyol       82   2792        2626      948        608
7     8        Real Sociedad       70   2573        2302      864        577
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
13   14     Racing Santander       44   1416        1428      453        336
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
20   21           Villarreal       17    970         646      266        172
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
24   25               Getafe       12    553         456      147        112
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
..  ...                  ...      ...    ...         ...      ...        ...
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
33   34             Logrones        9    293         346       96         92
34   35            Castellon       11    285         334      103         79
35   36             Albacete        7    277         270       76         76
36   37              Almeria        6    242         228       62         56
37   38              Cordoba        9    230         282       82         63
38   39           Compostela        4    190         160       52         45
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
42   43             Numancia        4    148         152       37         37
43   44                Eibar        3    132         114       35         27
44   45               Arenas        7    107         130       43         21
45   46          Real Burgos        3     96         114       26         44
46   47            Gimnastic        4     91         116       34         16
47   48          Extremadura        2     83          80       20         23
48   49               Merida        2     81          80       19         24
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
51   52           Real Union        4     56          72       21         14
52   53           AD Almeria        2     52          68       17         18
53   54               Europa        3     42          54       18          6
54   55               Lleida        2     40          68       13         14
55   56              Leganes        1     35          38        8         11
56   57                Xerez        1     34          38        8         10
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4
60   61               Girona        1      0           0        0          0

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
0        563     5947         3140       33        23     8      8     3
1        608     5900         3114       25        25    12     12     4
2        775     4534         3309       10         8    16      9     7
3        861     4398         3469        6         6    10     11    10
4        920     4631         3700        8         7    10      5     8
5        887     3680         3373        1         4     4      5    12
6       1070     3609         3889        0         0     4      5     2
7        861     3228         3230        2         3     2      5     4
8        766     2683         2847        0         1     4      5     4
9        682     2159         2492        1         0     2      3     4
10       575     2052         2188        1         5     4      1     0
11       723     2278         2624        0         0     0      2     4
12       619     1767         2180        0         0     0      1     1
13       639     1843         2368        0         1     1      2     0
14       629     1753         2152        0         1     1      2     2
15       565     1500         1834        0         0     0      2     2
16       535     1421         1763        0         0     0      1     0
17       492     1642         1951        0         0     3      2     2
18       399     1182         1371        0         0     2      0     2
19       487     1347         1746        0         1     1      1     1
20       208      892          789        0         1     1      2     3
21       349      819         1157        0         0     0      0     0
22       305      760         1088        0         0     0      0     0
23       295      750         1022        0         0     0      0     1
24       197      520          633        0         0     0      0     0
25       295      716         1050        0         0     0      0     1
26       211      619          744        0         0     0      0     2
27       298      607          992        0         0     0      0     0
28       174      458          623        0         0     0      0     0
29       194      430          632        0         0     0      0     0
..       ...      ...          ...      ...       ...   ...    ...   ...
31       202      492          720        0         0     0      1     1
32       217      393          662        0         0     0      0     0
33       158      291          489        0         0     0      0     0
34       152      419          588        0         0     0      1     2
35       118      320          410        0         0     0      0     0
36       110      244          366        0         0     0      0     0
37       137      285          430        0         0     0      0     1
38        63      199          241        0         0     0      0     0
39        90      202          296        0         0     0      0     0
40        95      216          310        0         0     0      0     0
41        83      165          221        0         0     0      0     0
42        78      155          253        0         0     0      0     0
43        52      139          167        0         0     0      0     0
44        66      227          308        0         0     1      0     3
45        44      101          139        0         0     0      0     0
46        66      181          295        0         0     0      0     0
47        37       62          117        0         0     0      0     0
48        37       70          115        0         0     0      0     0
49        62      145          252        0         0     0      0     0
50        48      121          183        0         0     0      0     0
51        37      153          184        0         0     0      0     0
52        33       71          116        0         0     0      0     0
53        30       97          131        0         0     0      0     0
54        41       70          182        0         0     0      0     0
55        19       36           55        0         0     0      0     0
56        20       38           66        0         0     0      0     0
57        15       37           57        0         0     0      0     0
58        18       51           85        0         0     0      0     0
59        21       34           65        0         0     0      0     0
60         0        0            0        0         0     0      0     0

   Sixth   T    Debut Since/LastApp  BestPosition
0      4  79     1929          1929             1
1      6  83     1929          1929             1
2      6  56     1929       2002-03             1
3      7  50  1931-32       1987-88             1
4     10  49     1929          1929             1
5      6  32  1934-35       2001-02             1
6      5  16     1929       1994-95             3
7      3  19     1929       2010-11             1
8      4  18  1939-40       2012-13             2
9      4  14  1932-33       2015-16             1
10     1  12  1941-42       2014-15             1
11     5  11  1939-40       2012-13             4
12     1   3  1948-49       2013-14             4
13     1   5     1929       2011-12             2
14     1   7  1944-45       2015-16             2
15     2   6  1935-36       2016-17             4
16     1   2  1949-50       2008-09             4
17     4  11  1933-34       2000-01             3
18     1   5  1960-61       2012-13             3
19     1   5  1951-52       2015-16             2
20     2   9  1998-99       2013-14             2
21     2   2  1941-42       2016-17             6
22     0   0  1977-78       2015-16             8
23     1   2  1959-60       2014-15             5
24     1   1  2004-05       2015-16             6
25     4   5  1935-36       2010-11             5
26     0   2  1961-62       2009-10             5
27     0   0  1940-41       2007-08            11
28     1   1  1930-31       2016-17             6
29     1   1  1963-64       2015-16             6
..   ...  ..      ...           ...           ...
31     0   2  1943-44       1987-88             4
32     0   0  1977-78       2005-06            12
33     0   0  1987-88       1996-97             7
34     0   3  1941-42       1990-91             4
35     0   0  1991-92       2004-05             7
36     0   0  2007-08       2014-15             8
37     0   1  1962-63       2014-15             5
38     0   0  1994-95       1997-98            10
39     0   0  1978-79       2008-09             8
40     0   0  1971-72       1979-80            12
41     0   0  1963-64       1969-70             7
42     0   0  1999-00       2008-09            17
43     0   0  2014-15       2014-15            10
44     0   4     1929       1934-35             3
45     0   0  1990-91       1992-93             9
46     0   0  1947-48       2006-07             7
47     0   0  1996-97       1998-99            17
48     0   0  1995-96       1997-98            19
49     0   0  1945-46       1950-51            10
50     0   0  1953-54       1957-58            14
51     1   1     1929       1931-32             6
52     0   0  1979-80       1980-81            10
53     0   0     1929       1930-31             8
54     0   0  1950-51       1993-94            16
55     0   0  2016-17       2016-17            17
56     0   0  2009-10       2009-10            20
57     0   0  1956-57       1956-57            16
58     0   0  1951-52       1951-52            16
59     0   0  1955-56       1955-56            15
60     0   0  2017-18       2017-18             9

[61 rows x 20 columns]

# 2nd Question

In [229]:
#read_data1['Debut'].truncate(before=10,after= 30)
countries_under_1980s =a1['Team'].loc[(a1['Debut'] > '1930') & (a1['Debut'] < '1980')]
print(countries_under_1980s)
# Countris started their career between 1930 to 1980
#print(type(countries_under_1980s))   Ans: Series

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [233]:
replacement['Points']=replacement['Points'].apply(pd.to_numeric)
#print(type(replacement['Points']))

# Previously the datatype of the points is 'object', so conversion is bit tough
# So conversion from object to int64 is performed through the above code

# 3rd Question

In [234]:
#     3) Question
replacement.sort_values(by=['Points'],ascending= False)
replacement['Team'].head(5)

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [235]:
replacement['GamesWon']=replacement['GamesWon'].apply(pd.to_numeric)  # Object to numeric conversion

In [236]:
replacement['GamesPlayed']=replacement['GamesPlayed'].apply(pd.to_numeric) # Object to numeric conversion

# 5th question

In [237]:
#              5) Question
replacement['WinningPercent']=(replacement['GamesWon']/replacement['GamesPlayed'])*100

#creation of GamePlayed column and performing the mathematical calculations

In [238]:
print(replacement)

    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
0     1          Real Madrid       86    4385         2762      1647
1     2            Barcelona       86    4262         2762      1581
2     3      Atletico Madrid       80    3442         2614      1241
3     4             Valencia       82    3386         2664      1187
4     5      Athletic Bilbao       86    3368         2762      1209
5     6              Sevilla       73    2819         2408       990
6     7             Espanyol       82    2792         2626       948
7     8        Real Sociedad       70    2573         2302       864
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
13   14     Racing Santander       44    1416         1428       453
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
20   21           Villarreal       17     970          646       266
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
24   25               Getafe       12     553          456       147
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
28   29               Alaves       12     421          380       125
29   30              Levante       11     416          402       113
..  ...                  ...      ...     ...          ...       ...
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
33   34             Logrones        9     293          346        96
34   35            Castellon       11     285          334       103
35   36             Albacete        7     277          270        76
36   37              Almeria        6     242          228        62
37   38              Cordoba        9     230          282        82
38   39           Compostela        4     190          160        52
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
42   43             Numancia        4     148          152        37
43   44                Eibar        3     132          114        35
44   45               Arenas        7     107          130        43
45   46          Real Burgos        3      96          114        26
46   47            Gimnastic        4      91          116        34
47   48          Extremadura        2      83           80        20
48   49               Merida        2      81           80        19
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
51   52           Real Union        4      56           72        21
52   53           AD Almeria        2      52           68        17
53   54               Europa        3      42           54        18
54   55               Lleida        2      40           68        13
55   56              Leganes        1      35           38         8
56   57                Xerez        1      34           38         8
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5
60   61               Girona        1       0            0         0

   GamesDrawn GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth  \
0         552       563     5947         3140  ...        23     8      8
1         573       608     5900         3114  ...        25    12     12
2         598       775     4534         3309  ...         8    16      9
3         616       861     4398         3469  ...         6    10     11
4         633       920     4631         3700  ...         7    10      5
5         531       887     3680         3373  ...         4     4      5
6         608      1070     3609         3889  ...         0     4      5
7         577       861     3228         3230  ...         3     2      5
8         522       766     2683         2847  ...         1     4      5
9         440       682     2159         2492  ...         0     2      3
10        392       575     2052         2188  ...         5     4      1
11        389       723     2278         2624  ...         0     0      2
12        384       619     1767         2180  ...         0     0      1
13        336       639     1843         2368  ...         1     1      2
14        358       629     1753         2152  ...         1     1      2
15        327       565     1500         1834  ...         0     0      2
16        330       535     1421         1763  ...         0     0      1
17        292       492     1642         1951  ...         0     3      2
18        256       399     1182         1371  ...         0     2      0
19        242       487     1347         1746  ...         1     1      1
20        172       208      892          789  ...         1     1      2
21        175       349      819         1157  ...         0     0      0
22        148       305      760         1088  ...         0     0      0
23        180       295      750         1022  ...         0     0      0
24        112       197      520          633  ...         0     0      0
25        149       295      716         1050  ...         0     0      0
26        128       211      619          744  ...         0     0      0
27        143       298      607          992  ...         0     0      0
28         81       174      458          623  ...         0     0      0
29         95       194      430          632  ...         0     0      0
..        ...       ...      ...          ...  ...       ...   ...    ...
31         95       202      492          720  ...         0     0      1
32        127       217      393          662  ...         0     0      0
33         92       158      291          489  ...         0     0      0
34         79       152      419          588  ...         0     0      1
35         76       118      320          410  ...         0     0      0
36         56       110      244          366  ...         0     0      0
37         63       137      285          430  ...         0     0      0
38         45        63      199          241  ...         0     0      0
39         46        90      202          296  ...         0     0      0
40         50        95      216          310  ...         0     0      0
41         44        83      165          221  ...         0     0      0
42         37        78      155          253  ...         0     0      0
43         27        52      139          167  ...         0     0      0
44         21        66      227          308  ...         0     1      0
45         44        44      101          139  ...         0     0      0
46         16        66      181          295  ...         0     0      0
47         23        37       62          117  ...         0     0      0
48         24        37       70          115  ...         0     0      0
49         16        62      145          252  ...         0     0      0
50         13        48      121          183  ...         0     0      0
51         14        37      153          184  ...         0     0      0
52         18        33       71          116  ...         0     0      0
53          6        30       97          131  ...         0     0      0
54         14        41       70          182  ...         0     0      0
55         11        19       36           55  ...         0     0      0
56         10        20       38           66  ...         0     0      0
57          8        15       37           57  ...         0     0      0
58          5        18       51           85  ...         0     0      0
59          4        21       34           65  ...         0     0      0
60          0         0        0            0  ...         0     0      0

   Fifth Sixth   T    Debut Since/LastApp BestPosition  WinningPercent
0      3     4  79     1929          1929            1       59.630702
1      4     6  83     1929          1929            1       57.241130
2      7     6  56     1929       2002-03            1       47.475134
3     10     7  50  1931-32       1987-88            1       44.557057
4      8    10  49     1929          1929            1       43.772629
5     12     6  32  1934-35       2001-02            1       41.112957
6      2     5  16     1929       1994-95            3       36.100533
7      4     3  19     1929       2010-11            1       37.532580
8      4     4  18  1939-40       2012-13            2       35.146022
9      4     4  14  1932-33       2015-16            1       35.069444
10     0     1  12  1941-42       2014-15            1       36.797386
11     4     5  11  1939-40       2012-13            4       34.511190
12     1     1   3  1948-49       2013-14            4       31.582538
13     0     1   5     1929       2011-12            2       31.722689
14     2     1   7  1944-45       2015-16            2       32.304527
15     2     2   6  1935-36       2016-17            4       32.321700
16     0     1   2  1949-50       2008-09            4       31.075697
17     2     4  11  1933-34       2000-01            3       34.228188
18     2     1   5  1960-61       2012-13            3       33.704453
19     1     1   5  1951-52       2015-16            2       33.485401
20     3     2   9  1998-99       2013-14            2       41.176471
21     0     2   2  1941-42       2016-17            6       29.380054
22     0     0   0  1977-78       2015-16            8       28.987730
23     1     1   2  1959-60       2014-15            5       29.941003
24     0     1   1  2004-05       2015-16            6       32.236842
25     1     4   5  1935-36       2010-11            5       29.299363
26     2     0   2  1961-62       2009-10            5       31.376518
27     0     0   0  1940-41       2007-08           11       24.744027
28     0     1   1  1930-31       2016-17            6       32.894737
29     0     1   1  1963-64       2015-16            6       28.109453
..   ...   ...  ..      ...           ...          ...             ...
31     1     0   2  1943-44       1987-88            4       30.281690
32     0     0   0  1977-78       2005-06           12       23.214286
33     0     0   0  1987-88       1996-97            7       27.745665
34     2     0   3  1941-42       1990-91            4       30.838323
35     0     0   0  1991-92       2004-05            7       28.148148
36     0     0   0  2007-08       2014-15            8       27.192982
37     1     0   1  1962-63       2014-15            5       29.078014
38     0     0   0  1994-95       1997-98           10       32.500000
39     0     0   0  1978-79       2008-09            8       26.881720
40     0     0   0  1971-72       1979-80           12       28.921569
41     0     0   0  1963-64       1969-70            7       29.444444
42     0     0   0  1999-00       2008-09           17       24.342105
43     0     0   0  2014-15       2014-15           10       30.701754
44     3     0   4     1929       1934-35            3       33.076923
45     0     0   0  1990-91       1992-93            9       22.807018
46     0     0   0  1947-48       2006-07            7       29.310345
47     0     0   0  1996-97       1998-99           17       25.000000
48     0     0   0  1995-96       1997-98           19       23.750000
49     0     0   0  1945-46       1950-51           10       27.777778
50     0     0   0  1953-54       1957-58           14       32.222222
51     0     1   1     1929       1931-32            6       29.166667
52     0     0   0  1979-80       1980-81           10       25.000000
53     0     0   0     1929       1930-31            8       33.333333
54     0     0   0  1950-51       1993-94           16       19.117647
55     0     0   0  2016-17       2016-17           17       21.052632
56     0     0   0  2009-10       2009-10           20       21.052632
57     0     0   0  1956-57       1956-57           16       23.333333
58     0     0   0  1951-52       1951-52           16       23.333333
59     0     0   0  1955-56       1955-56           15       16.666667
60     0     0   0  2017-18       2017-18            9             NaN

[61 rows x 21 columns]

In [132]:
replacement.fillna(0)  # Conversion from NaN  to 0 value

,88,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,WinningPercent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934-35,2001-02,1,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939-40,2012-13,2,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932-33,2015-16,1,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941-42,2014-15,1,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939-40,2012-13,4,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948-49,2013-14,4,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944-45,2015-16,2,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935-36,2016-17,4,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949-50,2008-09,4,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933-34,2000-01,3,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960-61,2012-13,3,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951-52,2015-16,2,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998-99,2013-14,2,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941-42,2016-17,6,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977-78,2015-16,8,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959-60,2014-15,5,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004-05,2015-16,6,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935-36,2010-11,5,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961-62,2009-10,5,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940-41,2007-08,11,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930-31,2016-17,6,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963-64,2015-16,6,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943-44,1987-88,4,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977-78,2005-06,12,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987-88,1996-97,7,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941-42,1990-91,4,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991-92,2004-05,7,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007-08,2014-15,8,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962-63,2014-15,5,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994-95,1997-98,10,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978-79,2008-09,8,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971-72,1979-80,12,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963-64,1969-70,7,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999-00,2008-09,17,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014-15,2014-15,10,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990-91,1992-93,9,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947-48,2006-07,7,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996-97,1998-99,17,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995-96,1997-98,19,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945-46,1950-51,10,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953-54,1957-58,14,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979-80,1980-81,10,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950-51,1993-94,16,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016-17,2016-17,17,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009-10,2009-10,20,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956-57,16,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951-52,16,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955-56,15,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017-18,2017-18,9,0.000000

In [138]:
replacement.sort_values(by=['WinningPercent'],ascending=False)
replacement['Team'].head(5)

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

# 6th Question

In [239]:
replacement.groupby(['BestPosition'])['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64

# 5th Question

In [240]:
#
replacement['GoalsFor']=replacement['GoalsFor'].apply(pd.to_numeric)
replacement['GoalsAgainst']=replacement['GoalsAgainst'].apply(pd.to_numeric)

In [241]:
def Goal_diff_count():
    replacement['Goal_diff_count'] = replacement['GoalsFor'] - replacement['GoalsAgainst']
    return replacement['Goal_diff_count']

In [179]:
replacement.apply(Goal_diff_count)

TypeError: ('Goal_diff_count() takes 0 positional arguments but 1 was given', 'occurred at index 88')